{% extends 'layout.html' %}

{% block content %}
<div class="container">

    <div class="nes-container">
        <div class="practice-status">
            <button type="button" class="nes-btn btn-finish">완료</button>
            <progress class="nes-progress time-progress" value="80" max="100"></progress>
            <span class="time-num">04:37</span>
        </div>

        <table class="nes-table is-bordered practice-word ">
            <!-- <thead>
                <tr>
                    <th>Table.is-bordered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                </tr>
            </thead> -->
            <tbody>
                <tr>
                    <td>100 국제수영장</td>
                    <td>100 국제수영장</td>
                    <td>100 국제수영장</td>
                    <td>100 국제수영장</td>
                    <td>100 국제수영장</td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>100 국제수영장 </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>100 국제수영장 </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>100 국제수영장 </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>100 국제수영장</td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
            </tbody>
        </table>
        <div class="practice-arrow">
            <!-- <button type="button" class="nes-btn is-warning">&lt;&lt;</button> -->
            <button type="button" class="nes-btn is-warning">&lt;</button>
            <button type="button" class="nes-btn is-warning">&gt;</button>
            <!-- <button type="button" class="nes-btn is-warning">&gt;&gt;</button> -->
        </div>

    </div>

</div>
{% endblock %}

{% block script %}
{% endblock %}