{% extends 'layout.html' %}

{% block content %}
<div class="container">

    <div class="nes-container">
        <div class="practice-status">
            <button type="button" class="nes-btn btn-finish">완료</button>
            <progress class="nes-progress time-progress" value="80" max="100"></progress>
            <span class="time-num">04:37</span>
        </div>

        <table class="nes-table is-bordered practice-card ">
            <!-- <thead>
                <tr>
                    <th>Table.is-bordered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                </tr>
            </thead> -->
            <tbody >
                <tr>
                    <td><span>2<br>♠</span></td>
                    <td><span>3<br>♠</span></td>
                    <td><span>4<br>♠</span></td>
                    <td><span>5<br>♠</span></td>
                    <td><span>6<br>♠</span></td>
                    <td><span>7<br>♠</span></td>
                    <td><span>8<br>♠</span></td>
                    <td><span>9<br>♠</span></td>
                    <td><span>10<br>♠</span></td>
                    <td><span>J<br>♠</span></td>
                    <td><span>Q<br>♠</span></td>
                    <td><span>K<br>♠</span></td>
                    <td><span>A<br>♠</span></td>
                   
                </tr>
                <tr>
                    <td><span style="color: red;">2<br>♥</span></td>
                    <td><span style="color: red;">3<br>♥</span></td>
                    <td><span style="color: red;">4<br>♥</span></td>
                    <td><span style="color: red;">5<br>♥</span></td>
                    <td><span style="color: red;">6<br>♥</span></td>
                    <td><span style="color: red;">7<br>♥</span></td>
                    <td><span style="color: red;">8<br>♥</span></td>
                    <td><span style="color: red;">9<br>♥</span></td>
                    <td><span style="color: red;">10<br>♥</span></td>
                    <td><span style="color: red;">J<br>♥</span></td>
                    <td><span style="color: red;">Q<br>♥</span></td>
                    <td><span style="color: red;">K<br>♥</span></td>
                    <td><span style="color: red;">A<br>♥</span></td>
                </tr>
                <tr>
                    <td><span>2<br>♣</span></td>
                    <td><span>3<br>♣</span></td>
                    <td><span>4<br>♣</span></td>
                    <td><span>5<br>♣</span></td>
                    <td><span>6<br>♣</span></td>
                    <td><span>7<br>♣</span></td>
                    <td><span>8<br>♣</span></td>
                    <td><span>9<br>♣</span></td>
                    <td><span>10<br>♣</span></td>
                    <td><span>J<br>♣</span></td>
                    <td><span>Q<br>♣</span></td>
                    <td><span>K<br>♣</span></td>
                    <td><span>A<br>♣</span></td>
                   
                </tr>
                <tr>
                    <td><span style="color: red;">2<br>◆</span></td>
                    <td><span style="color: red;">3<br>◆</span></td>
                    <td><span style="color: red;">4<br>◆</span></td>
                    <td><span style="color: red;">5<br>◆</span></td>
                    <td><span style="color: red;">6<br>◆</span></td>
                    <td><span style="color: red;">7<br>◆</span></td>
                    <td><span style="color: red;">8<br>◆</span></td>
                    <td><span style="color: red;">9<br>◆</span></td>
                    <td><span style="color: red;">10<br>◆</span></td>
                    <td><span style="color: red;">J<br>◆</span></td>
                    <td><span style="color: red;">Q<br>◆</span></td>
                    <td><span style="color: red;">K<br>◆</span></td>
                    <td><span style="color: red;">A<br>◆</span></td>
                </tr>
               
            </tbody>
        </table>
        <div class="practice-arrow">
            <!-- <button type="button" class="nes-btn is-warning">&lt;&lt;</button> -->
            <button type="button" class="nes-btn is-warning">&lt;</button>
            <button type="button" class="nes-btn is-warning">&gt;</button>
            <!-- <button type="button" class="nes-btn is-warning">&gt;&gt;</button> -->
        </div>

    </div>


</div>
{% endblock %}

{% block script %}
{% endblock %}