{% extends 'layout.html' %}

{% block content %}
<div class="nes-container container">
    <div class="practice-option">

        <div class="nes-container practice-choice">
            <label>
                <input type="radio" class="nes-radio" name="game" checked />
                <span>단어</span>
            </label>
            <label>
                <input type="radio" class="nes-radio" name="game" />
                <span>목록</span>
            </label>
            <label>
                <input type="radio" class="nes-radio" name="game" />
                <span>사진</span>
            </label>
            <label>
                <input type="radio" class="nes-radio" name="game" />
                <span>숫자</span>
            </label>
            <label>
                <input type="radio" class="nes-radio" name="game" />
                <span>카드</span>
            </label>

        </div>
        <div class="nes-container practice-time">
            <label>
                <input type="radio" class="nes-radio" name="time" checked/>
                <span>1분</span>
            </label>
            <label>
                <input type="radio" class="nes-radio" name="time" />
                <span>5분</span>
            </label>
        </div>
    </div>

    <div class="nes-container practice-main">
        <table class="nes-table is-bordered practice-word">
            <!-- <thead>
                <tr>
                    <th>Table.is-bordered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                    <th>Table.is-centered</th>
                </tr>
            </thead> -->
            <tbody>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
                <tr>
                    <td>Thou hadasdadasdasdasdsadasdasdadasast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                    <td>Thou hast </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock %}

{% block script %}
{% endblock %}